<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cápsula do Tempo</title>
</head>
<body>

<div>
    
    <div>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'lista' %}">Cápsulas</a> |
        <a href="{% url 'criar' %}">Criar cápsula</a>
        <a href="{% url 'registro' %}">Criar usuário</a>
        <a href="{% url 'login' %}">Login</a>
    </div>

    <div>
        {% if user.is_authenticated %}
            Olá, {{ user.username }}

            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'registro' %}">Registrar</a>
        {% endif %}
    </div>

</div>

<hr>

{% block content %}
{% endblock %}

</body>
</html>