{% extends 'base.html' %}

{% block content %}
<div class="list-header">
    <h1 class="custom-title-list">Minhas Cápsulas</h1>
</div>

<div class="envelope-grid">
    {% for capsula in object_list %}
        <div class="envelope-wrapper">
            <a href="{% if capsula.esta_aberta %}{% url 'detalhe' capsula.pk %}{% else %}#{% endif %}" 
               class="envelope-card {% if capsula.esta_aberta %}can-open{% else %}locked{% endif %}">
                
                <div class="envelope-flap"></div>
                
                <div class="envelope-body">
                    <h2 class="capsula-title title-spaced">{{ capsula.titulo }}</h2>
                    <div class="capsula-info">
                        <span>Abertura: {{ capsula.data_abertura|date:"d/m/Y" }}</span>
                        <span class="status-badge">
                            {% if capsula.esta_aberta %}Disponível{% else %}Selada{% endif %}
                        </span>
                    </div>
                </div>
            </a>
            <div class="envelope-actions">
                <a href="{% url 'deletar' capsula.pk %}" class="delete-link">Excluir</a>
            </div>
        </div>
    {% empty %}
        <p class="text-center w-100">Sua jornada começa aqui. Nenhuma cápsula criada ainda.</p>
    {% endfor %}
</div>
{% endblock %}